@media (max-width: 991.98px) {
  .Mostpopular-ship .card {
    border-radius: 20px;
  }

  .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 2;
  }

  .nav-link {
    color: #08358A !important;
    opacity: 1;
    text-align: center;
    padding: 14px;
  }

  .nav-link:hover {
    border-bottom: 1px solid #08358A;
  }

  .navbar-toggler-icon {
    /* background: white; */
    color: white !important;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media (max-width: 767.98px) {
  .product-design {
    margin: 68px;
  }

  .perfect {
    font-size: 46px;
    line-height: 60px;
  }

  .perfect-2 {
    font-size: 44px;
  }

  .product-types {
    flex-direction: column;
    margin-top: -25px;
  }

  .web-design {
    padding: 15px;
  }

  .remove {
    display: none;
  }

  .footer .fotbar {
    padding: 30px;
    flex-direction: column;
  }

  .footer-bar {
    flex-direction: column;
  }
}

@media (max-width: 576.98px) {
  .navbar-collapse {
    left: 29px;
    width: 90%;
  }

  .perfect {
    font-size: 26px;
    line-height: 43px;
  }

  .footer .fotbar {
    padding: 30px;
  }

  .subscribe {
    font-size: 19px;
  }

  .btn-primary {
    padding: 10px 24px;
  }

  .Mostpopular-ship .card {
    padding: 24px;
    border-radius: 20px;
  }

  .accordion-button {
    font-size: 21px;
    padding: 20px 24px;
  }

  .btn-primary {
    max-width: 276px;
  }

  .Mostpopular-ship .quarterly .btn-transparent {
    padding: 20px 22px;
  }

  .product-design {
    margin: 68px 30px;
  }

  .product-types {
    max-width: 312px;
  }
}

@media (max-width: 375px) {
  .navbar-collapse {
    left: 19px;
    width: 90%;
  }
}